h1.logo Assume site
+navemenu([
  {'title':'Home', 'link': 'index.html' },
  {'title':'Service', 'link': 'service.html',
    'child' : [
      {'title':'Local', 'link': 'local.html' },
      {'title':'Global', 'link': 'global.html' },
    ]
   },
  {'title':'About us', 'link': 'about.html' },
  {'title':'Contact Us', 'link': 'contact.html' },
  ])
